<template name="bigbrotheruser">
    <div class="row">
      <div class="comparison-table-options">
                                          <span class="page-title">Big Brother</span>
                                              <div class="actions" style="float:right;">
                                              </div>
                                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">
                        <div class="card-options">

                        </div>
                        {{#unless dataReady}}
                      LOADING <data value=""></data>
                        {{/unless}}
                        <div class="map-container">
                          {{> googleMap name="map" options=mapOptions}}
                      </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
</template>
