<template name="_______">
  <div class="comparison-table-options">
                                      <span class="page-title">Broadcasts</span>
                                          <div class="actions" style="float:right;">
                                              <a href="/createbroadcast" class="filter waves-effect waves-light btn savenBlue">Create Broadcast</a>
                                          </div>
                                  </div>
    <div class="row">
  <div class="col s12">
                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">

    <!-- CONTENT GOES HERE -->

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>
