<template name="alerts">
    <div class="row">
      <div class="comparison-table-options">
                                          <span class="page-title">ALERTS</span>

                                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">
                        <div class="card-options">

                        </div>
                        {{> reactiveTable collection=alerts settings=settings}}

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>
