<template name="organisations">
    <div class="row">
      <div class="comparison-table-options">
                                          <span class="page-title">Organisations</span>
                                              <div class="actions" style="float:right;">
  <a href="/createorg" class="filter waves-effect waves-light btn savenBlue">Add</a>
                                             </div>
                                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">
                        <div class="card-options">

                        </div>
                        {{> reactiveTable collection=organisations settings=settings}}

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>