
<template name="createuser">
  <div class="comparison-table-options">
                                      <span class="page-title">Create User</span>
                                          <div class="actions" style="float:right;">
                                          </div>
                                  </div>
    <div class="row">
  <div class="col s12">
                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                
                    <div class="card-content">

                      <form id="createUserForm" autocomplete="off">
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate required" autofocus>
                            <label for="email" data-error="Invalid email">* Email</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate required" autocomplete="new-password">
                            <label for="password" data-error="Invalid password">* Password</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="fullname" name="fullname" type="text" class="validate required" required="" aria-required="true">
                            <label for="fullname" data-error="Invalid first name">* Full Name</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
                            <input id="suburb" name="suburb" type="text" class="validate required" required="" aria-required="true">
                            <input id="postcode" name="postcode" type="hidden" class="validate required" required="" aria-required="true">
                            <label for="suburb" data-error="wrong" data-success="right">* Suburb</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s12">
    <select class="required validate" id="role" name="role">
      <option value="user">General User</option>
      <option value="seUser">Saven Enterprise</option>
    </select>
    <label></label>
  </div>
  </div>


                            <input id="referCode" name ="referCode" type="hidden" value="{{referCode}}">
                            <input id="postcode" name ="postcode" type="hidden">


                        <p>
                        <br />
                       <input type="checkbox" id="type" name="type" />
                       <label for="type">Is this user a guardian?</label>
                      </p>

                      <button class="waves-effect waves-light btn savenBlue createUser fullWidthButton">Create User</button>
                      <br />
                      <br />

                      </form>

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>
